Temp/
Properties/
Cache/
obj/
Library/

!Library/*.asset
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
Library/InspectorExpandedItems.asset

*.csproj*
*.pidb
*.unityproj
*.sln
*.sln.ide
*.suo
*.userprefs

Assembly-CSharp*
UnityVS.project.*
Assets/UnityVS.*
Assets/UnityVS/*
